# MAC files
.DS_Store

# Python-specific files
__pycache__/

# Experiment files
AutonomicTester/experiment_results/*

# Dataset
FineTuneDataset/
PromptDataset/
FastDataset/
GitHubDataset/

images/
plotdata/

DataAnalysis/GitHubRepos

# Environment files
.venv
.vscode

ollama.log
jupyter.log

ollama_models
e-test-env-llama3-1b-amd64.tar
meta-llama-Llama-3.2-1B
.ipynb_checkpoints